<?xml version="1.0"?>

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <add name="serConn" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=serhvaria;Persist Security Info=True;User ID=sa;Password=arrakis11"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
